{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">{{ user.get_username }}, действие Вашей подписки истекает {{user.profile.datetowork}}</h3>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Общая информации</h3>
            </div>
            <div class="panel-body">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th>Количество задач</th>
                                        <th>Количество каналов</th>
                                        <th>Количество источников</th>
                                        <th>количество ботов</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td><span class="badge bg-success">{{num_tasks}}</span></td>
                                        <td><span class="badge bg-success">{{num_chanels}}</span></td>
                                        <td><span class="badge bg-success">{{num_source}}</span></td>
                                        <td><span class="badge bg-success">{{num_bots}}</span></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{%endblock%}