{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Форма редактирования задания/создания</h3>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Задание</h3>
                </div>
                <div class="panel-body">
                        <form action="" method="post" class="form-horizontal" role="form">
                                {% csrf_token %}
                                {% load addcss %}
                                <div class="form-group">
                                       
                                        <label class="col-md-2 control-label">{{ form.chanelname.label_tag }} </label>
                                        <div class="col-md-10">
                                                {{ form.chanelname.errors }}
                                            {{ form.chanelname|addcss:"form-control,Имя" }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        
                                        <label class="col-md-2 control-label">{{ form.description.label_tag }}</label>
                                        <div class="col-md-10">
                                                {{ form.description.errors }}
                                            {{ form.description|addcss:"form-control, Описание" }}
                                        </div>
                                    </div>
                                <input type="submit" value="Сохранить" class="btn "/>
                                
                            </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
    
    
    
    {% endblock %}