{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Отправленные сообщения</h3>
</div>

    {% if messagereaction_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Все сообщения</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Отправленно в канал </th>
                                            <th>Дата отправки</th>
                                            <th>Like</th>
                                            <th>Dislike</th>
                                            <th>Статус сообщения</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for messages in messagereaction_list %}
                                    <tr>
                                        <td>{{messages.chanel_name}}</td>
                                        <td>{{messages.created_at}}</td>
                                        <td>{{messages.like_count}}</td>
                                        <td>{{messages.dislike_count}}</td>
                                        {% if messages.status == 'public' %}
                                        <td>Опубликовано в канале</td>
                                        {% elif messages.status == True %}
                                        <td>Удалено из канала</td>
                                        {% elif messages.status == 'False' %}
                                        <td>Сообщение не найдено</td>
                                        {% elif messages.status == 'errors' %}
                                        <td>Попробуйте еще раз</td>
                                        {% else %}
                                        <td> {{ messages.status }}</td>
                                        {% endif %}
                                        <td> <a href="{% url 'delete_message' messages.id %}" class="btn btn-danger">Удалить</a>   </td>
                                    </tr>                                 
                                    {% endfor %}
                                    </tbody>
                                </table>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
      <p>Пока нет ни одного отправленного сообщения</p>
      <a href="{% url 'task_create' %}" class="btn btn-success">Создать задание</a>
    {% endif %}       
{% endblock %}