{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Добавление/Редактирования бота</h3>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Новый бот</h3>
                </div>
                <div class="panel-body">
                        <form action="" method="post" class="form-horizontal" role="form">
                                {% csrf_token %}
                                {% load addcss %}
                                <div class="form-group">
                                        {{ form.botname.errors.as_text }}
                                        <label class="col-md-2 control-label">{{ form.botname.label_tag }} </label>
                                        <div class="col-md-10">
                                          {{ form.botname|addcss:"form-control,Имя бота" }} 
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        {{ form.bottoken.errors.as_text }}
                                        <label class="col-md-2 control-label">{{ form.bottoken.label_tag }}</label>
                                        <div class="col-md-10">
                                            {{ form.bottoken|addcss:"form-control, Токен бота" }}
                                        </div>
                                    </div>
                                <input type="submit" value="Сохранить" class="btn "/>
                                
                            </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
    
    
    
    {% endblock %}