{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Список моих каналов</h3>
</div>

    {% if oncetask_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">oncetask</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Имя </th>
                                            <th>Статус</th>
                                            <th>Тип</th>
                                            <th>Каналы</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for oncetask in oncetask_list %}
                                    <tr>
                                        <td>{{oncetask.name}}</td>
                                        <td>{{oncetask.status}}</td>
                                        <td>{{oncetask.type_mes}}</td>
                                        <td>
                                            
                                            {% for chanelforpublic in oncetask.chanelforpublic.all%}
                                            {{chanelforpublic.chanelname}} <br>
                                            {% empty %}
                                                Нет
                                            {% endfor %}
                                        </td>
                                        <td>
                                                <img src="{{MEDIA_URL}}{{ oncetask.imgs }}">
                                        </td>
                                        <td> <a href="{% url 'oncetask_update' oncetask.id %}" class="btn btn-primary">Изменить</a>   </td>
                                        <td> <a href="{% url 'oncetask_delete' oncetask.id %}" class="btn btn-danger">Удалить</a>   </td>
                                    </tr>                                 
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{% url 'oncetask_create' %}" class="btn btn-success">Добавить канал</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
      <p>Пока нет ни одного задания в работе</p>
      <a href="{% url 'oncetask_create' %}" class="btn btn-success">Добавить разовое задание</a>
    {% endif %}       
{% endblock %}