{% extends "base_generic.html" %}

{% block content %}
<style>
        .input-file-row-1:after {
            content: ".";
            display: block;
            clear: both;
            visibility: hidden;
            line-height: 0;
            height: 0;
        }
        
        .input-file-row-1{
            display: inline-block;
            margin-top: 25px;
            position: relative;
        }
        
        html[xmlns] .input-file-row-1{
            display: block;
        }
        
        * html .input-file-row-1 {
            height: 1%;
        }
        
        .upload-file-container { 
            position: relative; 
            width: 100px; 
            height: 137px; 
            overflow: hidden;	
            background: url(http://i.imgur.com/AeUEdJb.png) top center no-repeat;
            float: left;
            margin-left: 23px;
        } 
        
        .upload-file-container:first-child { 
            margin-left: 0;
        } 
        
        .upload-file-container > img {
            width: 93px;
            height: 93px;
            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
        }
        
        .upload-file-container-text{
            font-family: Arial, sans-serif;
            font-size: 12px;
            color: #719d2b;
            line-height: 17px;
            text-align: center;
            display: block;
            position: absolute; 
            left: 0; 
            bottom: 0; 
            width: 100px; 
            height: 35px;
        }
        
        .upload-file-container-text > span{
            border-bottom: 1px solid #719d2b;
            cursor: pointer;
        }
        
        .upload-file-container input  { 
            position: absolute; 
            left: 0; 
            bottom: 0; 
            font-size: 1px; 
            opacity: 0;
            filter: alpha(opacity=0);	
            margin: 0; 
            padding: 0; 
            border: none; 
            width: 70px; 
            height: 50px; 
            cursor: pointer;
        }
</style>
<div class="page-title">
    <h3 class="title">Создание разового задания (в разработке)</h3>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Новый задание</h3>
                </div>
                <div class="panel-body">
           <!-- imae start -->
           

                    <form name="" method="post" action="#" enctype="multipart/form-data" class="feedback-form-1">
                        <fieldset>
                            {{ form.media }}
                            {% csrf_token %}
                        {% load addcss %}
                        <div class="form-group">
                        {% for radio in form.type_mes %}
                        <div class="radio-inline">
                            <label class="cr-styled" for={{ radio.id_for_label }}>
                                {{radio.tag}}
                                <i class="fa"></i>{{ radio.choice_label}} </label>
                        </div>
                        {% endfor %}
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ form.name.label_tag }} </label>
                            <div class="col-md-10">
                                {{ form.name.errors }}
                                {{ form.name|addcss:"form-control,Имя задачи" }} 
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ form.chanelforpublic.label_tag }}</label>
                            <div class="col-md-10 ">
                            {% for checkbox in form.chanelforpublic %}
                               <div class="chekbox">    
                                <label class="cr-styled">
                                    {{ checkbox.tag }} <i class="fa"></i> {{ checkbox.choice_label }}
                                 </label>
                                </div>
                            {% endfor %}
                        </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ form.bottoken.label_tag }}</label>
                            <div class="col-md-10">
                                {{ form.bottoken }}
                            </div>
                        </div>
                        <div class="form-group">
                                <label class="col-md-2 control-label">{{ form.run_date.label_tag }} </label>
                                <div class="col-md-10">
                                    {{ form.run_date.errors }}
                                    {{ form.run_date }} 
                                </div>
                        </div>
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ form.del_date.label_tag }} </label>
                            <div class="col-md-10">
                                {{ form.del_date.errors }}
                                {{ form.del_date }} 
                            </div>
                       </div>  
                        <div class="form-group">
                            <label class="col-md-2 control-label">{{ form.text.label_tag }} </label>
                                <div class="col-md-7">
                                    {{ form.text.errors }}
                                    {{ form.text|addcss:"form-control,Описание" }} 
                                </div>                           
                        <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Загрузить картинку</button>    		
                        </div>	
                        </fieldset>
                        <button type="submit" class = 'btn btn-success m-b-5'>Сохранить</button>
                        
                    </form>
                    <img id="image" src="" alt="" />
                 
                        </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
            
            <div id="myModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true" style="display: none;">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title" id="myModalLabel">Загрузка изображения</h4>
                        </div>
                        <div class="modal-body">
                            <form action = "{% url 'upload_pic' %}" method="post"  id='myform'  enctype = 'multipart/form-data'>
                                {% csrf_token %}
                                {{ form }}
                                <input id="id_image" type="file"  name="image" class="form-control">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" id = 'sub'>Загрузить</button>
                        </div>
                    </form>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->
            </div>
        </div>
        <!-- End row -->
        <script>
                function readURL(input) {
                    if (input.files && input.files[0]) {
                        var reader = new FileReader();
                        reader.onload = function (e) {
                            $('#image').attr('src', e.target.result);  
                        };
                        reader.readAsDataURL(input.files[0]);
                    }
                }
                $("#id_image").change(function(){
                    readURL(this);
                });
                
    </script>
   
            <script type="text/javascript">
                function getCookie(name)
                {
                    var cookieValue = null;
                    if (document.cookie && document.cookie != '') {
                        var cookies = document.cookie.split(';');
                        for (var i = 0; i < cookies.length; i++) {
                            var cookie = jQuery.trim(cookies[i]);
                            // Does this cookie string begin with the name we want?
                
                            if (cookie.substring(0, name.length + 1) == (name + '=')) {
                                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                                break;
                            }
                        }
                    }
                    return cookieValue;
                }
                
                $.ajaxSetup({ 
                     beforeSend: function(xhr, settings) {
                         if (!(/^http:.*/.test(settings.url) || /^https:.*/.test(settings.url))) {
                             // Only send the token to relative URLs i.e. locally.
                             xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
                         }
                     } 
                });
                $(document).ready(function(){
                   $("#myform").submit(
                        function() { //устанавливаем событие отправки для формы с id=form
                            //e.preventDefault(); /// без этого
                            var form_data = $("#myform").serialize(); //собераем все данные из формы
                            //var form_data = new FormData($('#myform').get(1));
                            alert(form_data)
                            $.ajax({
                                    type: "POST", //Метод отправки
                                    url: "{% url 'upload_pic' %}", //путь до php фаила отправителя
                                    data: form_data,
                                    enctype: 'multipart/form-data',
                                    success: function(data) {
                                            //код в этом блоке выполняется при успешной отправке сообщения
                                            alert("Ваше сообщение отпрвлено!");
                                            for (key in data){
                                                alert(key);
                                            }
                                            //$('#image').attr('src') = data['url'];
                                    },
                                    error: function(xhr) {
                                            alert(xhr.statusText);
                                    },


                                    
                                });
                    });
                });    
                </script>                    
    
    {% load static %}
    <script src="{% static 'assets/plugins/markdown/js/markdown.js' %}"></script>
    
    <script src="{% static 'assets/plugins/markdown/js/to-markdown.js' %}"></script>
    <script src="{% static 'assets/plugins/markdown/js/bootstrap-markdown.js' %}"></script>
    <script src="{% static 'assets/plugins/markdown/css/bootstrap-markdown.min.css' %}"></script>
    {% endblock %}