{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Список моих периодов</h3>
</div>

    {% if period_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Мои периоды</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Имя </th>
                                            <th>Дни</th>
                                            <th>Часы</th>
                                            <th>Минуты</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for period in period_list %}
                                    <tr>
                                        <td>{{period.id}}</td>
                                        <td>{{period.name}}</td>                                     
                                        <td>{{period.days}}</td>
                                        <td>{{period.hour}}</td>
                                        <td>{{period.minutes}}</td>
                                        <td> <a href="{% url 'periods_update' period.id %}" class="btn btn-primary">Изменить</a>   </td>
                                        <td> <a href="{% url 'periods_delete' period.id %}" class="btn btn-danger">Удалить</a>   </td>
                                    </tr>                                 
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{% url 'periods_create' %}" class="btn btn-success">Добавить период</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
      <p>Пока нет ни одного периодва</p>
      <a href="{% url 'periods_create' %}" class="btn btn-success">Добавить период</a>
    {% endif %}       
{% endblock %}