{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Форма добавление задачи в расписание</h3>
    <br>
    <a href="javascript:;" class="md-trigger btn btn-primary btn-sm" data-modal="modal-11">Справка</a>
</div>

<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Новая задача (измение старой задачи)</h3>
                </div>
                <div class="panel-body">
                    <div id="selector"></div>   
                    <span id="example1-val" style="visibility: hidden;"></span> 
                    <form action="" method="post" class="form-horizontal" role="form">
                        {% csrf_token %}
                        {% load addcss %}
                                {{ form.minute.as_hidden }}
                                {{ form.hour.as_hidden }}
                                {{ form.day.as_hidden }}
                                {{ form.month.as_hidden }}
                                {{ form.dayofmount.as_hidden }}
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.name.label_tag }} </label>
                                    
                                    <div class="col-md-10">
                                        {{ form.name.errors }}
                                        {{ form.name|addcss:"form-control,Имя задания" }} 
                                    </div>
                                </div>
                                 
                                <!--<div class="form-group">
                                    <label class="col-md-2 control-label">Задача:</label>
                                    <div class="col-md-10">
                                      {{ form.task|addcss:"form-control,Имя бота" }} 
                                    </div>
                                </div>-->       
                                    
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.task.label_tag }}</label>
                                    {% for checkbox in form.task %}
                                    <div class="col-md-10"> 
                                    <label class="cr-styled">
                                            {{ checkbox.tag }}
                                        <i class="fa"></i> {{ checkbox.choice_label }}
                                    </label>
                                    </div>
                                    {% endfor %}
                                </div>    
                                     
                                     
                                 
                                 
                                <input type="submit" value="Сохранить" class="btn "  />
                            </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
        
        <div class="md-modal md-effect-11" id="modal-11">
            <div class="md-content">
                <h3>Справка</h3>
                <div class="panel-heading">
                        
                    <b>формат задачи комманд</b>
<pre>
             
 - - - - -
 | | | | |
 | | | | ----- День недели (0 - 7)(Воскресенье =0 или =7)
 | | | ------- Месяц (1 - 12)
 | | --------- День (1 - 31)
 | ----------- Час (0 - 23)
 ------------- Минута (0 - 59)
            </pre>
             
            Любое из пяти полей может содержать символ * (звездочка) в качестве значения. 
            Это означает полный диапазон возможных значений, например, каждая минута, каждый час и т. д. 
               Любое из полей может содержать список значений, разделенных запятыми (наприимер, 1,3,7) 
               или интервал значений, обозначаемый дефисом (например, 1-5).
               После звездочки (*) или интервала можно с помощью символа / указать шаг значений. 
               Например, 0-23/2 может использоваться в поле "Часы" для указания того, что действие должно 
               происходить каждые два часа, 
               значение */4 в поле "Минуты" означает, что действие, должно происходить каждые четыре минуты, 
               1-30/3 - это то же, что и 1,4,7,10,13,16,19,22,25,28.
               В полях "Месяцы" и "Дни недели" можно вместо числовых значений использовать сокращенные 
               до трех букв названия месяцев (Jan, Feb ... Dec) и дней недели (Mon, Tue ... Sun)
             
                                      
                                    
                    
                    <button class="md-close btn-sm btn-primary">Закрыть</button>
                </div>
            </div>
        </div>   
           
    <script>    
        $(document).ready(function() {
            min = $('#id_minute').val();
            hour = $('#id_hour').val();
            day = $('#id_day').val();
            month = $('#id_month').val();
            dow = $('#id_dayofmount').val();
            $('#selector').cron({
                
                initial: min +" "+hour+" "+day+" "+month+" "+dow,
                onChange: function() {
                    $('#example1-val').text($(this).cron("value"));
                },
               useGentleSelect: true // default: false
            });
        });
    </script>
    {% endblock %}