{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Список моих распиcаний</h3>
</div>

    {% if shedule_list %}
    <div class="row">
        <div class="col-md-12">
                <div class="panel panel-default">
                    <a href="javascript:;" class="md-trigger btn btn-primary btn-sm" data-modal="modal-11">Справка</a>
                    
                    <a href="{% url 'shedule_create' %}" class="btn btn-success">Добавить расписание</a>
                </div>
                {% for shedule in shedule_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{shedule.name}}</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Имя </th>
                                            <th>Минута</th>
                                            <th>Час</th>
                                            <th>День</th>
                                            <th>Месяц</th>
                                            <th>День недели</th>
                                            <th>Имя задачи</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                   
                                    <tr>
                                        <td>{{shedule.name}}</td>
                                        <td>{{shedule.minute}}</td>
                                        <td>{{shedule.hour}}</td>
                                        <td>{{shedule.day}}</td>
                                        <td>{{shedule.month}}</td>
                                        <td>{{shedule.dayofmount}}</td>
                                         <td>
                                                {% for task in shedule.task.all%}
                                                {{task.taskname}} / {{task.id}} <br>
                                                {% endfor %}
                                            </td>
                                        <td> <a href="{% url 'shedule_update' shedule.id %}" class="btn btn-primary">Изменить</a>   </td>
                                        <td> <a href="{% url 'shedule_delete' shedule.id %}" class="btn btn-danger">Удалить</a>   </td>
                                    </tr>                                 
                                    
                                    </tbody>
                                </table>
                                {#<a href="{% url 'shedule_create' %}" class="btn btn-success">Добавить задачу в расписание</a> #}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
    
    {% else %}
      <p>Пока расписании ничего нет</p>
      <a href="{% url 'shedule_create' %}" class="btn btn-success">Добавить задачу в расписание</a>

      
    {% endif %} 
    <div class="md-modal md-effect-11" id="modal-11">
            <div class="md-content">
                <h3>Modal Dialog</h3>
                <div class="panel-heading">
                        
                    <b>формат задачи комманд</b>
<pre>
             
 - - - - -
 | | | | |
 | | | | ----- День недели (0 - 7)(Воскресенье =0 или =7)
 | | | ------- Месяц (1 - 12)
 | | --------- День (1 - 31)
 | ----------- Час (0 - 23)
 ------------- Минута (0 - 59)
            </pre>
             
            Любое из пяти полей может содержать символ * (звездочка) в качестве значения. 
            Это означает полный диапазон возможных значений, например, каждая минута, каждый час и т. д. 
               Любое из полей может содержать список значений, разделенных запятыми (наприимер, 1,3,7) 
               или интервал значений, обозначаемый дефисом (например, 1-5).
               После звездочки (*) или интервала можно с помощью символа / указать шаг значений. 
               Например, 0-23/2 может использоваться в поле "Часы" для указания того, что действие должно 
               происходить каждые два часа, 
               значение */4 в поле "Минуты" означает, что действие, должно происходить каждые четыре минуты, 
               1-30/3 - это то же, что и 1,4,7,10,13,16,19,22,25,28.
               В полях "Месяцы" и "Дни недели" можно вместо числовых значений использовать сокращенные 
               до трех букв названия месяцев (Jan, Feb ... Dec) и дней недели (Mon, Tue ... Sun)
             
                                      
                                    
                    
                    <button class="md-close btn-sm btn-primary">Закрыть</button>
                </div>
            </div>
        </div>      
{% endblock %}
