{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Форма добавление задачи в расписание</h3>
    <p>     <b>формат задачи комманд</b>
            <pre>
                    <b style="color: darkslateblue;">* * * * * выполняемая команда</b>
                    - - - - -
                    | | | | |
                    | | | | ----- День недели (0 - 7) (Воскресенье =0 или =7)
                    | | | ------- Месяц (1 - 12)
                    | | --------- День (1 - 31)
                    | ----------- Час (0 - 23)
                    ------------- Минута (0 - 59)
                    
                    Любое из пяти полей может содержать символ * (звездочка) в качестве значения. 
                    Это означает полный диапазон возможных значений, например, каждая минута, каждый час и т. д. 
                    Любое из полей может содержать список значений, разделенных запятыми (наприимер, 1,3,7) 
                    или интервал значений, обозначаемый дефисом (например, 1-5).
                    После звездочки (*) или интервала можно с помощью символа / указать шаг значений. 
                    Например, 0-23/2 может использоваться в поле "Часы" для указания того, что действие должно 
                    происходить каждые два часа, 
                    значение */4 в поле "Минуты" означает, что действие, должно происходить каждые четыре минуты, 
                    1-30/3 - это то же, что и 1,4,7,10,13,16,19,22,25,28.
                    В полях "Месяцы" и "Дни недели" можно вместо числовых значений использовать сокращенные 
                    до трех букв названия месяцев (Jan, Feb ... Dec) и дней недели (Mon, Tue ... Sun)
                </pre>        
    </p>
</div>

<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Новая задача (измение старой задачи)</h3>
                </div>
                <div class="panel-body">
                        <form action="" method="post">
                                {% csrf_token %}
                                <table>
                                {{ form.as_table }}
                                </table>
                                <input type="submit" value="Сохранить" />
                                
                            </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
    
       
    
    {% endblock %}