{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Список моих задач</h3>
</div>

    {% if sourcesdata_list %}
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Мои задачи</h3>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>#</th>
                                            <th>Имя </th>
                                            <th>Логин</th>
                                            <th>Пароль</th>
                                            <th>Адрес сервера</th>
                                            
                                        </tr>
                                    </thead>
                                    <tbody>
                                    {% for sources in sourcesdata_list %}
                                    <tr>
                                        <td>{{sources.id}}</td>
                                        <td>{{sources.sourcename}}</td>
                                        <td>{{sources.login}}</td>
                                        <td>{{sources.password}}</td>
                                        <td>{{sources.urls}}</td>
                                        <td> <a href="{% url 'sources_update' sources.id %}"  class="btn btn-primary">Изменить</a>   </td>
                                        <td> <a href="{% url 'sources_delete' sources.id %}" class="btn btn-danger">Удалить</a>   </td>
                                    </tr>                                 
                                    {% endfor %}
                                    </tbody>
                                </table>
                                <a href="{% url 'sources_create' %}" class="btn btn-success">Добавить источник</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    {% else %}
      <p>Пока нет ни одного источника в работе</p>
      <a href="{% url 'sources_create' %}" class="btn btn-success">Добавить источник</a>
    {% endif %}       
{% endblock %}