{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Добавление/Редактирования доступа к яндекс диску</h3>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Мои источники</h3>
                </div>
                <div class="panel-body">
                        <!-- <form action="" method="post"> -->
                                 <form action="" method="post" class="form-horizontal" role="form">
                                        {% csrf_token %}
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ form.sourcename.label }} </label>
                                            <div class="col-md-10">
                                              {{ form.sourcename }} 
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">{{ form.token.label }}</label>
                                            <div class="col-md-10">
                                                {{ form.token }}
                                                <a href="https://oauth.yandex.ru/authorize?response_type=code&client_id=7b560b5652324f189ffe9e230b052429" class="btn btn-success">Получить токен</a>
                                                
                                            </div>
                                        </div>
                                        <input type="submit" value="Сохранить" class="btn "/>
                                </form>
                                
                                
                                <!--<table>
                                {{ form.as_table }}
                                
                            </table>
                                <input type="submit" value="Сохранить" />
                                
                            </form> 
                        -->
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
    
    
    
    {% endblock %}