{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Список моих задач</h3>
</div>

    {% if task_list %}
    <div class="row">
        <div class="col-md-12">
{% for task in task_list %}
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">{{task.taskname}}, добавлена {{task.created_at}}
                        
                    </h3>
                    <h5>Статус: {{task.status}}</h5>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-12 col-sm-12 col-xs-12">
                            <div class="table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr class="success">
                                            <th>Канал </th>
                                            <th>Бот</th>
                                            <th>Источник </th>
                                            <th>Каталог </th>
                                            <th>Ссылки</th>
                                            <th>Количество публикаций за раз</th>
                                            <th>Контент </th>
                                            <th>Подпись </th>
                                                                                        
                                         </tr>
                                    </thead>
                                    <tbody>
                                    
                                    <tr>
                                        <td>{{task.chanelforpublic}}</td>
                                        <td>{{task.bottoken.botname}}</td>
                                        <td>{{task.sourcefordownload}}</td>
                                        <td>{{task.catalog_ajax}}</td>
                                        
                                        <td>
                                            
                                            {% for url in task.url.all%}
                                            {{url.urlname}} <br>
                                            {% empty %}
                                                Нет
                                            {% endfor %}
                                        </td>
                                        
                                        <td>{{task.numfileforpub}}</td>
                                        <td>
                                            {% for ft in task.filetypesforload.all%}
                                            {{ft.ftype}} <br>
                                            {% endfor %}
                                        </td>
                                        {% if task.caption == ""%}
                                        <td>Без подписи</td>
                                        {% else %}
                                        <td>{{task.caption}}</td>
                                        {%endif%} 
                                       
                                    </tr>                                 
                                    
                                    </tbody>
                                </table>
                                <td> <a href="{% url 'task_update' task.id %}"  class="btn btn-primary">Изменить</a>   </td>
                                <td> <a href="{% url 'task_delete' task.id %}" class="btn btn-danger">Удалить</a>   </td>
                                <td> <a href="{% url 'test_run' task.id %}" class="btn btn-success">Тест</a>   </td>
                            </div>
                        </div>
                    </div>
                </div>                
            </div>
{% endfor %}
            <a href="{% url 'task_create' %}" class="btn btn-success">Добавить задание</a>
        </div>
    </div>
    
    {% else %}
      <p>Пока нет ни одной задачи в работе </p>
      <a href="{% url 'task_create' %}" class="btn btn-success">Добавить задание</a>
    {% endif %}   

    {% if messages %}
        {% for message in messages %}
            <script>
            $( document ).ready(function() {
                swal('{{ message }}');
            });
            //$('#modal-11').addClass('md-show' );
            </script>
        {% endfor %}
    {% endif %}
    
            
               
{% endblock %}
