{% extends "base_generic.html" %}

{% block content %}
<div class="page-title">
    <h3 class="title">Форма редактирования/создания задания</h3>
</div>
<div class="row">
        <div class="col-sm-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Задание</h3>
                </div>
                <div class="panel-body">
                    
                    <form action="" method="post" class="form-horizontal" role="form">
                                {% csrf_token %}
                                  <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.taskname.label_tag }} </label>
                                    <div class="col-md-10">
                                            {{ form.taskname.errors }}
                                        {{ form.taskname }} 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.chanelforpublic.label_tag }}</label>
                                    <div class="col-md-10">
                                        {{ form.chanelforpublic }} 
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.sourcefordownload.label_tag }}</label>
                                    <div class="col-md-10">
                                        {{ form.sourcefordownload }}
                                    </div>
                                </div>

                                <div class="form-group">
                                        <label class="col-md-2 control-label">{{ form.filetypesforload.label_tag }}</label>
                                        <div class="col-md-10 ">
                                        {% for checkbox in form.filetypesforload %}
                                           <div class="chekbox">    
                                            <label class="cr-styled">
                                                {{ checkbox.tag }} <i class="fa"></i> {{ checkbox.choice_label }}
                                             </label>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    </div>   
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.url.label_tag }}</label>
                                        <div class="col-md-10">
                                           {% for checkbox in form.url %}
                                             <div class="chekbox">
                                                <label class="cr-styled">
                                                 {{ checkbox.tag }} <i class="fa"></i> {{ checkbox.choice_label }}
                                                </label>
                                             </div>
                                           {% endfor %}
                                        </div>
                                </div> 
                                
                                <div class="form-group">
                                    <label class="col-md-2 control-label">{{ form.catalog_ajax.label_tag }}</label>
                                    <div class="col-md-10">
                                        {{ form.catalog_ajax }}
                                    </div>
                            </div>
                                
                                <div class="form-group">
                                        <label class="col-md-2 control-label">{{ form.numfileforpub.label_tag }}</label>
                                        <div class="col-md-10">
                                        {%if form.numfileforpub_random.value == False %}
                                            {{ form.numfileforpub.errors }}
                                            {{ form.numfileforpub }}
                                            <!--form.numfileforpub_random-->
                                            {{ form.num_file_min.errors.as_hidden}}
                                            {{ form.num_file_min.as_hidden }}
                                            {{ form.num_file_max.errors.as_hidden }}
                                            {{ form.num_file_max.as_hidden }}
                                        {% else %}
                                            {{ form.numfileforpub.errors.as_hidden }}
                                            {{ form.numfileforpub.as_hidden }}
                                            <!--form.numfileforpub_random-->
                                            {{ form.num_file_min.errorsn}}
                                            {{ form.num_file_min }}
                                            {{ form.num_file_max.errors }}
                                            {{ form.num_file_max }}
                                        {% endif %}
                                        {% for radio in form.numfileforpub_random %}
                                        <div class="radio-inline">
                                            <label class="cr-styled" for={{ radio.id_for_label }}>
                                                {{radio.tag}}
                                                <i class="fa"></i>{{ radio.choice_label}} </label>
                                        </div>
                                        
                                       
                                        
                                        {% endfor %}
                                    </div>
                                         
                                </div>
                                <div class="form-group">
                                        <label class="col-md-2 control-label">{{ form.caption.label_tag }}</label>
                                        <div class="col-md-10">
                                                {{ form.caption.errors }}
                                            {{ form.caption }}
                                        </div>
                                </div>
                                
                                

                                <div class="form-group">
                                        <label class="col-md-2 control-label">{{ form.bottoken.label_tag }}</label>
                                        <div class="col-md-10">
                                            {{ form.bottoken }}
                                        </div>
                                </div>
                                
                                <input type="submit" value="Сохранить" class="btn "/>
                        </form>
                    </div>
                    <!-- panel-body -->
                </div>
                <!-- panel -->
            </div>
            <!-- col -->
        </div>
        <!-- End row -->
        <script>
                function getNumEnding(iNumber, aEndings)
                {
                    var sEnding, i;
                    iNumber = iNumber % 100;
                    if (iNumber>=11 && iNumber<=19) {
                        sEnding=aEndings[2];
                    }
                    else {
                        i = iNumber % 10;
                        switch (i)
                        {
                            case (1): sEnding = aEndings[0]; break;
                            case (2): sEnding = aEndings[1]; break;
                            case (3): sEnding = aEndings[1]; break;
                            case (4): sEnding = aEndings[1]; break;
                            default: sEnding = aEndings[2];
                        }
                    }
                    return sEnding;
                }
            $(document).ready( function(){
                //num_file = $('#id_numfileforpub').val();
                $("#id_numfileforpub_random_0").change(function () {
                        $('#id_num_file_min').attr('type','number').addClass('form-control');
                        $('#id_num_file_min').attr('placeholder','от');
                        $('#id_num_file_max').attr('type','number').addClass('form-control');
                        $('#id_num_file_max').attr('placeholder','до');
                        $('#id_numfileforpub').attr('type','hidden');
                        num_file = $('#id_numfileforpub').val();
                        $('#id_numfileforpub').val(0);

                });
                $("#id_numfileforpub_random_1").change(function () {
                    $('#id_num_file_min').attr('type','hidden').addClass('form-control');
                    $('#id_num_file_min').attr('placeholder','от');
                    $('#id_num_file_max').attr('type','hidden').addClass('form-control');
                    $('#id_num_file_max').attr('placeholder','до');
                    $('#id_numfileforpub').attr('type','number').addClass('form-control');
                    $('#id_numfileforpub').attr('value', num_file);


            });
                var cat = '{{form.catalog_ajax.value}}';
                $.ajax({
                    url: '/facebot/ajax/getfolder/'+$('#id_sourcefordownload').val()+'/',
                    statusCode: {
                        404: function() {$('#id_catalog_ajax').empty();}
                      },
                    success: function(data){
                        $('#id_catalog_ajax').empty();
                        for (key in data){
                            var s = getNumEnding(data[key],['файл','файла','файлов'])
                            $('#id_catalog_ajax').append('<option  value='+key+'>'+key+' ('+data[key]+' '+s+')'+ '</option>');
                            $("#id_catalog_ajax option[value=" + cat + "]").attr('selected', 'selected');
                        }
                    }
                  });
            
                $("#id_sourcefordownload").change(function (){
                    $.ajax({
                        url: '/facebot/ajax/getfolder/'+$(this).val()+'/',
                        statusCode: {
                            404: function() {$('#id_catalog_ajax').empty();}
                          },
                        success: function(data){
                            $('#id_catalog_ajax').empty();
                            for (key in data){
                                var s = getNumEnding(data[key],['файл','файла','файлов'])
                                $('#id_catalog_ajax').append('<option  value='+key+'>'+key+' ('+data[key]+' '+s+')'+ '</option>');
                                $("#id_catalog_ajax option[value=" + cat + "]").attr('selected', 'selected');                                
                            }
                            
                        }
                      });
                });
            });
        </script>
       

        
    
    
    {% endblock %}